* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgb(46,46,46);
}

.menu {
    padding: 15px;
    display: none;
}

.topbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
}

.topbackground {
    height: auto;
    background: url(images/ssf2background.gif) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.aboutbackground {
    height: auto;
    background: url(images/About.gif) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

.textoverbackground {
    font-family: "Manjar", sans-serif;
    z-index: 2;
    position: relative;
    width: 30%;
    color: white;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    background: none;
}

.sectiontabs {
    position: relative;
    font-family: "Manjar", sans-serif;
    padding: 20px 1%;
    font-size: 40px;;
    color: white;
}

.logo {
    cursor: pointer;
}

.navlinks {
    margin: auto;
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 30px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: dodgerblue;
}

.searchbutton {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Manjar", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.searchbutton:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.otherbuttons {
    color: white;
    padding: 0.5% 5%;
    font-family: "Manjar", sans-serif;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

li, a {
    font-family: "Manjar", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.activebutton {
    color: dodgerblue;
}

.GameTab {
    background: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    overflow: auto;
}

.gamethumb {
    background: none;
    padding: 10px;
    margin: auto;
}

@media only screen and (max-width: 875px) {
    .navlinks {
        display: none;
    }
    .searchbutton {
        display: none;
    }
    .logo {
        height: 15%;
        width: 15%;
        padding: 10px;
    }
    .topbar {
        padding: 10px;
    }
    .menu {
        display: flex;
    }
    .otherbuttons {
        display: none;
    }
}